## Technical
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
set steam_webApiKey "BA84623BAA764C723A932F57B82DCEBA" #https://steamcommunity.com/dev/apikey get it here
set mysql_connection_string "mysql://root:americanlife!2025@localhost/VictoriaState?charset=utf8mb4"
set mysql_slow_query_warning 200    # to only show warnings above 700

#EInstellungen
sv_licenseKey "cfxk_GydHfaZFyXmDVhmxCrnp_nghMd"
sv_maxclients 48
sv_enforceGameBuild 1491 #September 2022 update
set gamename rdr3


## Serverlist Settings ##
sv_hostname "VictoriaState"

sets sv_projectName "VictoriaState"
sets sv_projectDesc "Hier wird eine Kolonie erbaut."
sets tags "roleplay, 1893RP, Kolonie, DeutscheKaiserzeit, ViktorianischesZeitalter, SalonDame"

sets ₀₀::::::::::::::::::::::::::::::::::::::::::::::::«Technik»:::::::::::::::::::::::::::::::::::::::::::::::: ""
sets ₀₁:::🎮Framework "RedM"
sets ₀₂:::🔊Discord "discord.gg/victoriastate"
sets ₀₃:::🔊INGAME ""
sets ₀₄:::🌍Website ""
sets ₀₅:::🎙️Voice "InGameVoice"
sets ₀₆:::::::::::::::::::::::::::::::::::::::::::::::«Einreise»::::::::::::::::::::::::::::::::::::::::::::::: ""
sets ₀₇:::🔑Allowlist "Discord"
sets ₀₈:::✈️Einreise "Legal"
sets ₀₉:::🔒Mindestalter "18+"
sets ₁₀:::::::::::::::::::::::::::::::::::::::::::::::«Scripts»:::::::::::::::::::::::::::::::::::::::::::::::: ""
sets ₁₁:::📟Mods "🚗Fahrzeuge, 🏠MLOs, 👕Kleidung, 🔫Waffen"
sets ₁₂:::🌲Wald "Ja"
sets ₁₃:::🏃Skills "Skillsystem"
sets ₁₄:::🎪Hobbys "🔫Paintball, 🏁Racing, 🏋️Gym u.v.m."
sets ₁₅:::🔴Scripts "Custom Scripts, Medicsystem u.v.m"
sets ₁₆:::🚓Cops & Crime "Beweismittel-System u.v.m"
sets ₁₇:::💻UI "Custom UIs"
sets ₁₈:::::::::::::::::::::::::::::::::::::::::::::::«Roleplay»::::::::::::::::::::::::::::::::::::::::::::::: ""
sets ₁₉:::💵Pay-To-Win "Nein"
sets ₂₀:::🎭Roleplay "Realistisch"
sets ₂₁:::💹Wirtschaft "Realistisch"
sets ₂₂:::👥Fraktionen "Legal & Illegal gesucht!"

#load_server_icon myLogo.png
load_server_icon icon.png  
sets banner_detail ""
sets banner_connecting ""
sets activitypubFeed "VictoriaStateRP@mastodon.social"

set txAdmin-menuPtfxDisable true
sets locale "de-DE" # change to your language (eg. en-US, pt-BR, de-DE)
set resources_useSystemChat true #chat resource is now found within the artifacts

## Turns off the information about players joining and leaving the server on the chat.
set chat_showJoins false
set chat_showQuits false

## These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager-rdr3
ensure victoriastate
ensure hardcap

## Voice Chat
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1

## Voice config ##
ensure pma-voice
ensure pma-display
ensure loadingscreen

## Dependencies
ensure oxmysql
ensure weathersync
ensure redm-ipls
ensure syn_minigame
ensure lockpick
ensure PolyZone
ensure moonshine_interiors
ensure vorp_menu
ensure female_body_fix

## Permissions
exec resources/[standalone]/weathersync/permissions.cfg
exec resources/[VORP]/vorp_admin/vorp_perms.cfg


## Scrips ##
ensure ox_lib
ensure jo_libs
ensure vorp_core
ensure vorp_inputs
ensure vorp_progressbar
ensure vorp_inventory
ensure vorp_character
ensure vorp_utils
ensure vorp_admin
ensure vorp_metabolism
ensure vorp_doorlocks
ensure vorp_postman
ensure vorp_hunting
ensure vorp_stables
ensure vorp_weaponsv2
ensure vorp_stores
ensure vorp_fishing
ensure vorp_crawfish
ensure vorp_herbs
ensure vorp_housing
ensure vorp_banking
ensure vorp_mailbox
ensure vorp_walkanim
ensure vorp_police
ensure vorp_crafting
ensure vorp_zonenotify
ensure vorp_mining
ensure vorp_lumberjack
ensure vorp_animations 
ensure vorp_outlaws
ensure vorp_medic
ensure vorp_billing
ensure vorp_paycheck
ensure vorp_wildhorse
ensure vorp_lootnpcs
#ensure wasabi_bridge
ensure [dispatch]
ensure [job_related]
ensure [char_related]
ensure [item_related]
ensure [qb]
ensure [util]
ensure [phone]
ensure [ui]
ensure [features]
ensure [props]
ensure [voice]
ensure [clothing]

## VORP Resources

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
#add_ace identifier.steam:0000000000a0000 group.admin command allow # Example Steam Hex Usage
add_principal identifier.fivem:9362568 group.admin #EinfachNurMops
add_principal identifier.discord:879232572876533770 group.admin #EinfachNurMops

